<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="editRecord">

    <h1>Formulaire de Création de Note</h1>
    <form th:action="@{/createNote}" th:object="${patientNote}" method="post">
        <input type="hidden" th:field="*{patientId}"/>
        <div class="form-group">
            <label for="note">Note:</label>
            <input type="text" id="note" th:field="*{patientNote}" placeholder="Enter your note here..."/>
        </div>
        <button type="submit">Submit</button>
    </form>


    </br></br></br>
    <a th:href="@{/}" class="btn btn-default">Home</a>
</div>

</body>
</html>