<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="editRecord">

    <a th:href="@{/newNote(patientId=${id})}"
       class="btn btn-default">Create Note</a>

    </br></br></br>


    <p th:if="${patientNotes == null or patientNotes.isEmpty()}">No notes available for this patient.</p>

    <table>
        <tbody>
        <tr th:each="patientNote : ${patientNotes}">
            <td th:text="'Note: ' + ${patientNote.patientNote}"></td>
        </tr>
        </tbody>
    </table>
    </br></br></br>
    <a th:href="@{/}" class="btn btn-default">Home</a>

</div>

</body>
</html>